{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <h1 style='text-align: center;'>SUNRISE</h1>
    <p>
        Сайт <b>Sunrise</b> - это сайт, позволяющий удобно управлять своими задачами(ToDo-сервис).
        С его помощью, вы можете легко создавать заметки, чтобы не забыть сделать что-то.
    </p>
    <p>Чтобы начать использовать сайт, <a href='/signup/'>создайте аккаунт</a>.<br>
        Уже есть аккаунт? <a href='/login/'>Войти</a>.
    </p>
</div>
{% endblock %}